/* ctrl+ k + ctrl +c for commenting  and Ctrl + Shift + T for reopening recently closed tabs  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* see */
}

html,
body {
    width: 100%;
    height: 100%;

}

#main {
    height: 500%;
    width: 100%;
    background-color: #e3e3e6;
    /* background-color: #fff; */



}

#navbar {
    width: 100%;
    height: 1.8%;
    /* see in yt how to see the exact size of divs in yt or ask a friend */
    background-color: #101820;
    color: white;
    display: flex;
    gap: 18px;
    padding: 12px 0 0 8px;
}

.navbar1 {
    height: 100%;
    width: 35px;
    background-color: aqua;

}

#logo_parent {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    /* gap: 10px; */
}


#dt {
    margin-left: 15px;
    /* background-color: purple; */

    height: 100%;
    width: 73px;
}



#logo {
    width: 120px;
    height: 120px;
    background-image: url(used_photos/amazon_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    /* background-color: aqua; */


}

#pic_parent {
    display: flex;
    /* background-color: palegreen; */

}

#india {
    /* padding-right: 18px; */
    font-size: 15px;
    /* background-color: blue; */
}

#pic_one {
    width: 23px;
    height: 20px;

    background-color: transparent;
    background-image: url("used_photos/location.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    /* background-color: white;  */

}

#d {
    margin-top: 3px;
    height: 12px;
    margin-left: 23px;


    word-spacing: 1.1px;
    font-size: 63%;
    /* background-color: red;  */
    color: hwb(60 87% 15%);

}

#search-nav_parent {
    height: 80%;
    width: 900px;
    background-color: transparent;
    /* margin-left: 15px; */
    border-radius: 5px;
    display: flex;

}

#all_parent {
    display: flex;

}
#all_two{
    
    border: 0px;
    /* background-color: #e6e6e6; */
    color: #e6e6e6;
    background-color: transparent;
    background-image: url("unknown.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    /* background-color: white;  */    
}
#all {
    background-color: #e6e6e6;
    height: 100%;
    width: 50px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 80%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-nav {
    height: 100%;
    width: 800px;
    background-color: red;
}

#search-nav input {
    height: 100%;
    width: 100%;
    border: 0px;
}

#magnifying {
    /* background-color: hwb(60 87% 15%); */
    background-color: rgb(209, 209, 2);
    height: 100%;
    width: 50px;
    /* margin-left: 8px; */
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


#language {

    width: 46px;
}

#sign_in {
    display: grid;
    width: 115px;
    padding: 8px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 70%;
    background-color: transparent;

}

#hello {
    font-size: 12.3px;
    /* background-color: red; */
    /* margin-top: 8px;
   margin-left: 5px; */
    color: hwb(60 87% 15%);
}

#accounts {

    background-color: bisque;

}

#returns_parent {
    width: 75px;
    display: grid;
    width: 76px;
    padding: 8px;
    grid-template-columns: 100%;
    grid-template-rows: 40% 70%;
    background-color: transparent;

}

#return {
    font-size: 12.5px;
    /* background-color: red; */
    /* margin-top: 8px;
   margin-left: 5px; */
    color: hwb(60 87% 15%);
}

#orders {
    font-size: 14px;
    word-spacing: 0.01px;
    font-weight: 500;
    /* background-color: blueviolet; */
}

#cart_parent {
    padding-top: 6px;
    /* padding-bottom: 25px; */
    width: 85px;
    height: 140%;
    display: grid;
    grid-template-columns: 55% 40%;
    /* grid-template-rows: 50% 50; */
    background-color: transparent;
}

#cart_image {
    /* background-color: red; */
    /* background-color: transparent; */
    background-image: url("used_photos/imagee.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: left center; */
}

#cart_text {
    /* background-color: blue; */
    padding-top: 18px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 14px;
}

#navbar2 {
    width: 100%;
    height: 1.1%;
    background-color: rgb(45, 45, 74);
    display: flex;
    gap: 18px;
    padding-left: 17px;
}

.navbar2 {
    /* background-color: aqua; */
    /* height: 100%;
    width: 50px;*/
    color: white;

}

#All_parent {
    display: flex;

    width: 45px;
    /* background-color: transparent; */
}

#All_image {
    margin-top: 3.2px;
    background-color: transparent;
    height: 34px;
    width: 23.5px;
    background-image: url("used_photos/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;

}

#All_text {
    margin-left: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    /* it is align items not align content */
    /* do font family later */
    font-weight: 600;
    background-color: transparent;
}

#Deals {
    font-size: 12.5px;
    width: 85px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

#Prime {
    font-size: 12.5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

#Registry {
    font-size: 12.5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

#Gift_Cards {
    font-size: 12.5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

#Sell {
    font-size: 12.5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

#Customer_Service {
    font-size: 12.5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

#moving_photo_parent {
    width: calc(100% - 24px);
    height: 20%;
    background-image: url(used_photos/image5.png);
    
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    /* background-color: black; */

    padding: 255px 20px 0 20px;


}

#dot_in {
    width: 100%;
    height: 36.068px;
    background-color: #F5F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13.8px;
    font-weight: 500;
}

#dot_in a {
    text-decoration: none;
    color: #2162A1;
}

#god {
    width: 100%;
    height: 450px;
    /* background-color: #2162A1; */
    display: flex;
    justify-content: space-between;
}

.moving_first {
    width: 24%;
    margin-top: 23px;
    background-color: white;
    height: 415px;
    
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 20px;
}




#shop_gifts_text{
    /* background-color: red; */
    height: 25px;
    width: 100%;
}
/* when coding always see what different you have done when error comes */




#parent_sg1{
    margin-top: 10px;
    /* background-color: rgb(128, 0, 122); */
    height: 132px;
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: 500;
}
#parent_sgi2{
    margin-top: 30px;
    background-color: blue;
    height: 152px;
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: 500;
}
#otem1{
    height: 100%;
    width: 45%;
    
     /* background-color: rgba(0, 0, 0, 0.205); */
     /* background-color: yellow; */
    /* background-color: blue;    */
}
#otem1_image{
    height: 116px;
    width: 148px;
    
  /* background-color: chartreuse; */
    background-image: url(used_photos/p1_error.png);
     background-size: contain;
    background-repeat: no-repeat;
}
#Under_10{
    margin-top: 0.5px;
}

/*   otem stands for one item oxx is for one box  */

 #otem2{
     height: 100%;
    width: 45%;
     /* background-color: rgba(0, 0, 0, 0.205); */
     /* background-color: yellow; */
    /* background-color: rgb(247, 0, 255);   */
    
    padding-left: 10px; 
 }
 #Under_25{
    /* background-color: red; */
    margin-left: 14px;
    margin-top: 0.5px;
 }
 #otem2_image{
    background-color: burlywood;
    height: 116px;
    width: 148px;
    margin-left:14px;
       background-image: url(used_photos/otem2.png);
     background-size: contain;
    background-repeat: no-repeat;
 }

#otem3{
    height: 100%;
    width: 45%;
    
     /* background-color: rgba(0, 0, 0, 0.205); */
     /* background-color: yellow; */
    /* background-color: blue;    */
}
#otem3_image{
    /* background-color: burlywood; */
    height: 116px;
    width: 148px;
    
       background-image: url(used_photos/shoes.png);
     background-size: contain;
    background-repeat: no-repeat;
 }
 #otem4{
    height: 100%;
    width: 45%;
    
     /* background-color: rgba(0, 0, 0, 0.205); */
     /* background-color: yellow; */
    /* background-color: blue;    */
     padding-left: 10px; 
}
 #otem4_image{
    /* background-color: burlywood; */
    height: 116px;
    width: 148px;
    margin-left:14px;
       background-image: url(used_photos/otem2.png);
     background-size: contain;
    background-repeat: no-repeat;
 }